<!--
	appointment_list.html 
	This file contains the template for the general appointment list
	described in section 2.1 in "PatientClientDesignSpec".
-->

<template name="appointmentList">
	{{#contentFor "headerButtonRight"}}
		{{> toggle_button}}
		{{> atNavButton}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h2 class="title">My Appointments</h2>
	{{/contentFor}}

	{{#ionContent}}
		{{#ionList class="app-list"}}
			{{#each app_list}}
				{{#ionItem path="detail" data=get_appointment_id iconRight=true}}
					<h2>{{proc_type}}</h2>
					<p>{{date}}</p>
					<p>{{organization}}, {{department}} </p>
					<p>{{location}}</p>
					{{> ionIcon icon="ios-arrow-right"}}
				{{/ionItem}}
			{{/each}}
		{{/ionList}}
	{{/ionContent}}
</template>