<template name="client_tab_bar">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
      {{> ionTab title="Status" path="client_status_tab" icon="android-home"}}
      {{> ionTab title="Messages" path="client_message_tab" icon="android-star"}}
	  {{> ionTab title="Exam Info" path="client_exam_info_tab" icon="heart"}}
    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios"}}
      {{> ionTab title="Status" path="client_status_tab" iconOff="ios-checkmark-outline" iconOn="ios-checkmark"}}
      {{> ionTab title="Messages" path="client_message_tab" iconOff="ios-chatboxes-outline" iconOn="ios-chatboxes"}}
      {{> ionTab title="Exam Info" path="client_exam_info_tab" iconOff="ios-information-outline" iconOn="ios-information"}}
    {{/ionTabs}}
  {{/if}}
</template>