<!--
	client_appointment_detail_obligation_tab

	contains the template that displays the user's updated obligation list, 
	sorted in ascending chronological order.

	since meteoric tabs do not support a data object for specified paths,
	this template relies on the following session variables:
		-tab.appointment_id
		-tab.patient_id
		-tab.physician_id

-->

<template name="client_appointment_detail_obligation_tab">
	{{#contentFor "headerButtonLeft"}}
		{{!--
		
		{{#ionItem path="list"}}
		{{> ionIcon icon="ios-arrow-left"}}
		{{/ionItem}}
		--}}
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		{{> staff_control_button}}
		{{> toggle_button}}
		{{!--
		{{> atNavButton}}
		--}}
	{{/contentFor}}


	{{#contentFor "headerTitle"}}
		<h5 class="title" style="font-size:1em">Client-Side Patient Preparations</h5>
	{{/contentFor}}
	
	{{#ionContent class="padding"}}
		{{#if has_obligations}}
		{{#each obligations_exp}}
			<div class="card">
				<div class="item item-divider">
					<h1 class="obligation_title">{{date_header}}</h1>
				</div>
				<div class="item item-text-wrap">
					<ul>
						{{#each date_obligations}}
							<li class="item item-checkbox {{updated_obligation_class}}">
								<label class="checkbox">
									<input type="checkbox" class="obligation_checkbox" {{obligation_disabled}} {{obligation_checked}} obligation_id={{obligation_id}}>
								</label>
								{{text}}
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
		{{/each}}
		{{else}}
			<div class="card">
				<div class="item item-text-wrap">
					This appointment has no preparation requirements.
				</div>
			</div>
		{{/if}}
		
		<div class="button-bar">
			<a class="button update_preparation">Update</a>
			<a class="button medical_information">Information</a>
		</div>
		
		{{> message_listener}}
	{{/ionContent}}

	{{> client_tab_bar}}
</template>