<template name="client_tab_bar">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
      {{> ionTab title="Preparations" path="client_obligation_tab" icon="android-home"}}
      {{> ionTab title="Messages" path="client_message_tab" icon="android-star"}}
	  {{> ionTab title="Staff Info" path="client_staff_info_tab" icon="heart"}}
    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios"}}
      {{> ionTab title="Preparations" path="client_obligation_tab" iconOff="ios-home-outline" iconOn="ios-home"}}
      {{> ionTab title="Messages" path="client_message_tab" iconOff="ios-star-outline" iconOn="ios-star"}}
	  {{> ionTab title="Staff Info" path="client_staff_info_tab" icon="ios-heart"}}
    {{/ionTabs}}
  {{/if}}
</template>