<!--
	client_appointment_status_information_tab

	contains the template that displays information about the type 
	of the user's exam.

	since meteoric tabs do not support a data object for specified paths,
	this template relies on the following session variables:
		-tab.appointment_id
		-tab.patient_id
		-tab.physician_id

-->

<template name="client_appointment_detail_info_tab">
	{{#contentFor "headerButtonLeft"}}
		{{!--
		
		{{#ionItem path="list"}}
		{{> ionIcon icon="ios-arrow-left"}}
		{{/ionItem}}
		--}}
		<div class="navbar_normal_buttons">
		{{> toggle_button}}
		</div>
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		
		{{!--
		{{> toggle_button}}
		{{> atNavButton}}
		--}}
	{{/contentFor}}


	{{#contentFor "headerTitle"}}
		<div id="navbar_div">
			<img src="wcmc_red_smaller.png"/>
			<h3>Waiting Room App</h3>
			<h2 class="title" style="font-size:1em">PATIENT EXAM INFORMATION</h2>
		</div>
		<!--<h5 class="title" style="font-size:1em">PATIENT EXAM INFORMATION</h5>-->
	{{/contentFor}}
	
	{{#ionContent class=ready_background_class}}
	    {{> common_info_card}}
        
        
        <div class="list card">
        
        <div class="row">
            <div class="col col-10"></div>
            <div class="col col-80">{{{appointment_exam_info}}}</div>
            <div class="col col-10"></div>  
        </div>
        
        
        <!--<div class="row">-->
        <!--    <div class="col col-10"></div>-->
        <!--    <div class="col col-80">-->
        <!--        <p>-->
        <!--            <a href="#" class="subdued">1 Like</a>-->
        <!--            <a href="#" class="subdued">5 Comments</a>-->
        <!--        </p>-->
        <!--    </div>-->
        <!--    <div class="col col-10"></div>  -->
        <!--</div>-->
            
        
          
        <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
        <!--    <a class="tab-item" href="#">-->
        <!--    <i class="icon ion-thumbsup"></i>-->
        <!--        Like-->
        <!--    </a>-->
        <!--    <a class="tab-item" href="#">-->
        <!--    <i class="icon ion-chatbox"></i>-->
        <!--        Comment-->
        <!--    </a>-->
        <!--    <a class="tab-item" href="#">-->
        <!--    <i class="icon ion-share"></i>-->
        <!--        Share-->
        <!--    </a>-->
        <!--</div>-->
        
        </div>	
		
		{{> message_listener}}
	{{/ionContent}}
	{{> client_tab_bar}}
</template>