<!--
	staff_appointment_detail_message_tab

	contains the template that displays the user's sent messages 
	to the ordering physician, sorted in ascending chronological order.

	since meteoric tabs do not support a data object for specified paths,
	this template relies on the following session variables:
		-tab.appointment_id
		-tab.patient_id
		-tab.physician_id

-->

<template name="client_appointment_detail_message_tab">

	{{#contentFor "headerButtonLeft"}}
		{{!--
		{{#ionItem path="list"}}
		{{> ionIcon icon="ios-arrow-left"}}
		{{/ionItem}}
		--}}
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		{{> staff_control_button}}
		{{> toggle_button}}
		<!--{{> atNavButton}}-->
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h5 class="title" style="font-size:1em">Your Messages</h5>
	{{/contentFor}}

	{{#ionContent class="padding" id="test_id"}}
		{{#if has_messages}}
			{{#each message_list}}
				<div class="card">
					<div class="item item-text-wrap {{message_sender_style_class}}">
						<p>{{message_date}}</p>
						{{message_text}}
						{{#if message_read_by_staff}}
							<p class="message_read_label">Read by staff.</p>
						{{/if}}
					</div>
				</div>
			{{/each}}
		{{else}}
			<div class="card">
				<div class="item item-text-wrap">
					This appointment has no messages.
				</div>
			</div>
		{{/if}}
		<div class="item item-input-inset">
    <label class="item-input-wrapper">
      <textarea id="message_box" type="text" placeholder="Messages"></textarea>
    </label>
    <button class="button button-small send_message">
      Send
    </button>
  </div>
	{{/ionContent}}

	{{> client_tab_bar}}
</template>