<!--
	client_appointment_status_obligation_tab

	contains the template that displays information about a user's exam,
	and also a status button indicating whether staff are ready for them.

	since meteoric tabs do not support a data object for specified paths,
	this template relies on the following session variables:
		-tab.appointment_id
		-tab.patient_id
		-tab.physician_id

-->

<template name="client_appointment_detail_status_tab">
	{{#contentFor "headerButtonLeft"}}
		{{!--
		
		{{#ionItem path="list"}}
		{{> ionIcon icon="arrow-left-a"}}
		{{/ionItem}}
		--}}
		<!--<div class="navbar_normal_buttons">
		{{> toggle_button}}
		</div>-->
		<!--{{> toggle_button}}-->
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		{{!--
		{{> atNavButton}}
		--}}
		{{> toggle_button}}
	{{/contentFor}}


	{{#contentFor "headerTitle"}}
		<!--<div id="navbar_div">
			<img src="wcmc_red_smaller.png"/>
			<h3>Waiting Room App</h3>
			<h2 class="title" style="font-size:1em">PATIENT APPOINTMENT</h2>
		</div>-->
		<!--<h5 class="title" style="font-size:1em">PATIENT APPOINTMENT</h5>-->
		<h2 class="title" style="font-size:1em">PATIENT APPOINTMENT</h2>
	{{/contentFor}}
	
	
	{{#ionContent class=ready_background_class}}
		{{> common_info_card}}
	
	    <!--<div class="list card">

                <a href="#" class="item item-icon-left">
                    <h1><i class="icon ion-person"></i>{{appointment_user_name}}</h1>
                    DOB: 12-15-1982 // MRN: {{appointment_user_mrn}}
                  
                </a>
                <div class="item item-body">
                    
                    <img src="radiology_US.png">    
                    
                    
                    <div class="row">
                      <div class="col col-10" style="text-align:right"><b>Exam:</b></div>
                      <div class="col col-90">{{appointment_type}}</div>
                    </div>
                    <div class="row">
                      <div class="col col-10" style="text-align:right"><b>History:</b></div>
                      <div class="col col-90">{{appointment_reason}}</div>
                    </div>
                </div>

        </div>-->
	
	
		<!--<div class="card">-->
		<!--		<div style="text-align:center" class="item item-divider">-->
		<!--		<h1 class="obligation_title">{{appointment_type}}</h1>-->
		<!--		</div>-->
		<!--		<div class="item item-text-wrap">-->
		<!--			<p>Name: {{appointment_user_name}}</p>-->
		<!--			<p>MRN: {{appointment_user_mrn}}</p>-->
		<!--			<p>Date: {{appointment_date}}</p>-->
		<!--			<p>Department: {{appointment_department}}</p>-->
		<!--			<p>Reason: {{appointment_reason}}</p>-->
		<!--		</div>-->
		<!--</div>-->
	
		<div>
			<div style="width: 200px; margin: 0 auto" id="image_container">
			{{#if exam_ready}}
				<img src="exam_ready.png">
			{{else}}
				<img src="exam_not_ready.png">
			{{/if}}
			</div>
		</div>
		
		{{#if exam_ready}}
		    <div class="card">
              <div class="item item-divider">
                  <button class="button button-clear button-balanced">
                    READY FOR EXAM
                  </button>
              </div>
              <div class="item item-text-wrap">
                Please go to the front desk
              </div>
            </div>
		{{else}}
		    <div class="card">
              <div class="item item-divider" style="text-align:center">
                  <button class="button button-clear button-assertive">
                    WAITING FOR EXAM
                  </button>
              </div>
              <div class="item item-text-wrap">
                Questions? Send us message under the <b>Messages</b> tab.
                While you're waiting, information about your exam can be found under the <b>Exam Info</b> tab.
              </div>
            </div>
				
		{{/if}}
				{{> message_listener}}
				{{> on_ready_player}}
	{{/ionContent}}

	{{> client_tab_bar}}
</template>