<template name="common_info_card">
<div id="common_info_card" class="list card">
    <div class="item item-body">
        
		<!--<div id="common_info_card_exam_text">-->
		<!--	<b>Exam:</b> {{appointment_type}} <br/>-->
		<!--	<b>History:</b> {{appointment_reason}} <br/>-->
			<div class="row row-center">
                <!--<div class="col col-10" style="text-align:right"><b>Exam:</b></div>-->
                <div class="col col-10" style="text-align:right">{{patient_age}} {{patient_gender}} <i class="icon ion-person"></i></div>
                <div class="col col-33" style="font-size: 160%"><b>{{patient_name}}</b></div>
                <div class="col col-10" style="text-align:right"><img width="65" src={{appointment_image_name}}></div>
                <div class="col col-25" style="font-size: 160%">{{appointment_type}}</div>
                <div class="col col-20" style=""><div id="bcTarget"></div></div>
                
            </div>
            <div class="row">
                <div class="col col-10" style="font-size:80%; text-align:right"><b>MRN:</b></div>
                <div class="col col-33">{{patient_mrn}}</div>
                <div class="col col-10" style="font-size:80%; text-align:right"><b>History:</b></div>
                <div class="col col-33">{{appointment_reason}}</div>
            </div>
            <div class="row">
                <div class="col col-10" style="font-size:80%; text-align:right"><b>DOB:</b></div>
                <div class="col col-33">{{patient_dob}}</div>
                <div class="col col-10" style="font-size:80%; text-align:right"><b>Date:</b></div>
                <div class="col col-33">{{appointment_date}}</div>
            </div>
            <div class="row">
                <div class="col col-10" style="font-size:80%; text-align:right"><b>Allergies:</b></div>
                <div class="col col-33">None </div>
                <div class="col col-10" style="font-size:80%; text-align:right"><b>Provider:</b></div>
                <div class="col col-33">William Leung, MD</div>
            </div>
            
        <!--</div>-->
            <div class="row">
            </div>
		
								
    </div>			
</div>
</template>
