<template name = "staff_passcode_enter">
    <!--{{#ionModal title="ENTER STAFF PASSCODE"}}-->

        <!--<label class="item item-input">-->
            <!--<input type="password" placeholder="Password" id="password">-->
        <!--</label>-->

        <!--{{> loginButtons}}-->
    <!--{{/ionModal}}-->
        <div class="list">
            <label class="item item-input">
                <input type="password" placeholder="passcode" id="passcode">
            </label>
            <label style="color: red" id="status_bar">
            </label>
        </div>
</template>