<!--
	staff_control_appointment_list.html
	
-->

<template name="staff_control_appointment_list">
	{{#contentFor "headerButtonRight"}}
		{{> toggle_button}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h2 class="title">Select Patient Appointment</h2>
	{{/contentFor}}

	{{#ionContent}}
		{{> staff_search_box}}
		{{#ionList class="app-list"}}
			{{#each app_list}}
				{{#ionItem  data=get_all_data iconRight=true class=get_class_and_ready_status}}
					<div id="label_alignment_div">
						<h2>{{patient_name}}</h2>
						<p>DOB: {{patient_dob}}, MRN: {{patient_mrn}}</p>
						<h3>{{proc_type}}</h3>
						<p>{{date}}</p>
						<p>{{organization}}, {{department}} </p>
						<p>{{location}}</p>
						<!--<div class="unread_message_label">
						{{#if has_unread_messages}}
							<h1>{{num_unread_messages}}</h1>
							<h3> unread messages </h3>
						{{/if}}
						</div>-->
						{{#if exam_ready}}
							<div class="exam_ready_label">
								<h2>READY</h2>
							</div>
						{{/if}}
					</div>
					{{> ionIcon icon="ios-arrow-right"}}
				{{/ionItem}}
			{{/each}}
		{{/ionList}}
	{{/ionContent}}
</template>