<!-- 
	staff_control_simple_login
	because atForm does not work properly, on appointment change, this
	simpler email/password textbox is provided for staff to login.
-->

<template name="staff_control_simple_login">
  <div class="list">  
  <label class="item item-input">
    <input type="text" placeholder="Username" id="username">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password" id="password">
  </label>
  <label style="color: red" id="status_bar">
  </label>
	</div>
</template>