<!--
	staff_appointment_detail_message_tab

	contains the template that displays the user's sent messages 
	to the ordering physician, sorted in ascending chronological order.

	since meteoric tabs do not support a data object for specified paths,
	this template relies on the following session variables:
		-tab.appointment_id
		-tab.patient_id
		-tab.physician_id

-->

<template name="staff_appointment_detail_message_tab">

	{{#contentFor "headerButtonLeft"}}
		{{#ionItem class="list_back_link" path="staff_list"}}
		{{> ionIcon class="list_back_icon" icon="arrow-left-c"}}
		{{/ionItem}}
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		{{> toggle_button}}
		<!--{{> atNavButton}}-->
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h2 class="title" style="font-size:1em">STAFF MESSAGES</h2>
	{{/contentFor}}

	{{#ionContent class="padding" id="test_id"}}
		{{> common_info_card}}
	    <!--<div class="list card">

                    <a href="#" class="item item-icon-left">
                        <h1><i class="icon ion-person"></i>{{appointment_patient_name}}</h1>
                        DOB: 12/15/1982
                      
                    </a>
                    <div class="item item-body">
                        
                        <img src="radiology_US.png">    
                        
                        
                        <div class="row">
                          <div class="col col-10" style="text-align:right"><b>Exam:</b></div>
                          <div class="col col-90">{{appointment_type}}</div>
                        </div>
                        <div class="row">
                          <div class="col col-10" style="text-align:right"><b>History:</b></div>
                          <div class="col col-90">{{appointment_reason}}</div>
                        </div>
                    </div>

            </div>-->
	
		{{#if has_messages}}
			<div class="card">
			{{#each message_list}}
				
					<div class="item item-text-wrap {{message_sender_style_class}}">
					    <div class="row">
                            <div class="col col-50" style="text-align:left">
                                  <p style="font-size:75%">{{message_sender}}</p>
                                  <p style="font-size:75%">{{message_date}}</p>
                                  
							</div>
							<br/>
                            <div class="col col-50" style="text-align:right">
                                {{#if message_read_by_patient}}
                                    <p class="message_read_label">READ BY PATIENT</p>
                                {{/if}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-90" style="text-align:left"><br/>{{message_text}}</div>
                        </div>
						<!--<p>{{message_date}}</p>-->
						<!--{{message_text}}-->
						
						{{> staff_message_reporter}}
					</div>
				
			{{/each}}
			</div>
		{{else}}
			<div class="card">
				<div class="item item-text-wrap">
				    <button class="button button-clear button-royal">
                      NO MESSAGES YET
                    </button>
				</div>
			</div>
		{{/if}}
		
		<div class="card">
		<div class="item item-input-inset">
			<label class="item-input-wrapper">
			    <i class="icon ion-ios-chatbubble-outline placeholder-icon"></i>
			    <input id="message_box" type="text" placeholder="Type a message">
				<!--<textarea id="message_box" type="text" placeholder=" Type a message"></textarea>-->
			</label>
		<button class="button button-large button-assertive send_message">
			Send
			</button>
		</div>
		</div>
	{{/ionContent}}
	{{> staff_message_listener}}
	
	{{> staff_tab_bar}}
</template>