<!--
	staff_search_box.html
	contains the html template for the search box at the top of the staff view
-->
<template name="staff_search_box">
	<div id="search_box" class="bar bar-header item-input-inset">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input class="search-box" type="search" placeholder="Search appointment">
		</label>

	</div>

	<!-- TODO: Add Filter for CT, MRI, Ultrasound -->
	<div id="proc_filter">
  		<span class="proc_selected">CT</span><!-- 
  		 --><span class="proc_selected">MRI</span><!-- 
  		 --><span class="proc_selected">Ultrasound</span>
	</div>


	<!-- TODO: Add Dropdown list for location -->
	<div class="list">

	  <label class="item item-input item-select">
	    <div class="input-label">
	      Location
	    </div>
	    <select>
	      <option selected>Weill Cornell Imaging at NewYork-Presbyterian</option>
	      <option>Weill Cornell Imaging at NewYork-Presbyterian - 2</option>
	      <option>Weill Cornell Imaging at NewYork-Presbyterian - 3</option>
	    </select>
	  </label>

	</div>


</template>