<!--
	staff_appointment_list.html 
	This file contains the staff version template for the general appointment list
	described in section 2.1 in "PatientClientDesignSpec".
-->

<template name="staff_appointment_list">
	{{#contentFor "headerButtonLeft"}}
		<!--<div class="navbar_normal_buttons">
		{{> toggle_button}}
		</div>-->
		<!--{{> toggle_button}}-->
	{{/contentFor}}
	
	{{#contentFor "headerButtonRight"}}
		<!-- this needs to be css controlled separately, or else conflicting block display will force it to the left side-->
		<!--{{> atNavButton}}-->
		{{> toggle_button}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<!--<div id="navbar_div">
				<img src="wcmc_red_smaller.png"/>
				<h3>Waiting Room App</h3>
				<h2 class="title">STAFF: Manage Appointments</h2>
		</div>-->
		<h2 class="title" style="font-size:2em">STAFF EXAM LIST</h2>
	{{/contentFor}}

	{{#ionContent}}
		{{> staff_search_box}}
		{{#ionList class="app-list"}}
			{{#each app_list}}
				{{#ionItem  data=get_all_data class=get_class_and_ready_status}}
					<div id="label_alignment_div">
						<h2><i class="icon ion-person" ></i> {{patient_name}}</h2>
						<p>{{patient_age}} {{patient_gender}}</p>
						<p>DOB: {{patient_dob}} // MRN: {{patient_mrn}}</p>
						<br />
						<h3><i class="icon ion-images" ></i> {{proc_type}}</h3>
						<p>{{formatted_date}}</p>
						<p>{{organization}}</p> 
                        <!--<p>@ {{department}}</p>-->
						<p>{{location}}</p>
						<div class="unread_message_label">
						{{#if has_unread_messages}}
							<h1>{{num_unread_messages}}</h1>
							
							<!--<h3> unread messages </h3>-->
						{{else}}
						    <i class="icon ion-chevron-right" style="font-size: 200%"></i>
						{{/if}}
						
						</div>
						{{#if exam_ready}}
							<div class="exam_ready_label">
								<button class="button button-outline button-dark" style="background: white">
                                READY
                                </button>
							</div>
						{{/if}}
					</div>
					<!--{{> ionIcon icon="ios-arrow-right"}}-->
				{{/ionItem}}
			{{/each}}
			{{> staff_list_message_listener}}
		{{/ionList}}
	{{/ionContent}}
</template>