
/*
	meteoric android keyboard no-push fix
*/
body.keyboard-open .platform-android .content.overflow-scroll{
	bottom: 0px !important;
}

/*
	highlight updated items on the staff appointment list
*/
.staff_appointment_list_exam_ready_item{
		background-color: #D6EEF7;
}

/*

*/
.unread_message_label{
	right: 7%;
	position: absolute;
	top: 37%;
}

.unread_message_label h1{
	text-align:center;
	color: red;
}

.exam_ready_label{
	right: 10%;
	position: absolute;
	top: 45%;
}

.exam_ready_label h2{
	text-align:center;
	color: DeepSkyBlue;
}

.message_read_label{
	color:green !important;
}

.message_input_box{
	position: absolute;
	z-index: 999;
	bottom: 0px;
	
}

.message_sent_by_staff{
	background-color: LightGray !important;
}

/*
	this scales the check mark inside the staff status check mark
*/
#exam_checkbox::after{
	width: 100px !important;
	height: 50px !important;
}

.ready_background{
	background-color: LightGreen;
}

.patient_navbar{
	background-color: #88EDFC !important;
}

#common_info_card_exam_text{
	float: left;
}

#common_info_card_image{
	float: right;
}