
/*
	meteoric android keyboard no-push fix
*/
body.keyboard-open .platform-android .content.overflow-scroll{
	bottom: 0px !important;
}

/*
	highlight updated items on the staff appointment list
*/
.staff_appointment_list_exam_ready_item{
		background-color: #D6EEF7;
}

/*

*/
.unread_message_label{
	right: 7%;
	position: absolute;
	top: 37%;
}

.unread_message_label h1{
	text-align:center;
	color: red;
}

.exam_ready_label{
	right: 10%;
	position: absolute;
	top: 45%;
}

.exam_ready_label h2{
	text-align:center;
	color: DeepSkyBlue;
}

.message_read_label{
	color:green !important;
}

.message_input_box{
	position: absolute;
	z-index: 999;
	bottom: 0px;
	
}

.message_sent_by_staff{
	background-color: LightYellow !important;
}

/*
	this scales the check mark inside the staff status check mark
*/
#exam_checkbox::after{
	width: 100px !important;
	height: 50px !important;
}

.patient_ready_background{
	background-color: LightGreen;
}

.patient_not_ready_background{
	background-color: #43CEE6;
}

/*.patient_navbar{
	background-color: #88EDFC !important;
}*/

#common_info_card_exam_text{
	float: left;
}

#common_info_card_image{
	float: right;
}

#common_info_card{
	position: relative;
	top: -10px;
}

/*
	original height is 38px;
*/
.mdaisy_nav_bar{
	height: 240px;
	/*height: 120px;*/
}

div.scroll-content.ionic-scroll > div.content.overflow-scroll.has-header{
	padding-top: 195px;
	/*padding-top: 75px;*/
}

.list_back_icon{
	font-size: 58px;
	margin: auto;
	height: 62px;
}

.list_back_link{
	padding: 0px;
	padding-left: 1px;
	margin-top: 1px;
	margin-right: 3px;
	width: 61px;
	height: 61px;
}

.list_back_link > i {
	padding-left: 3px;
}

#common_info_card > a.item.item-icon-left{
	display: none;
}

#navbar_branding_div{
	position: relative;
	left: 185px;
}

#navbar_branding_div > i{
	
}

#navbar_branding_div > p {
	position: relative;
	margin: 0px;
	top: -80px;
	left: 130px;
	font-size: 30px;
}

.navbar_normal_items, .navbar_normal_items > h2{
	margin-top: 170px !important;
}

#everything_else{
	margin-top: 10px;
}

/*
	fix so that the search box correctly stays under the
	lengthened navbar
*/
div .bar.bar-header.item-input-inset{
	z-index: -99;
}

#navbar_div img{
	/*position: relative;
	top: -50px;
	display: span;*/
	position: absolute;
	width: 120px;
	margin:auto;
}

#navbar_div h3{
	position: absolute;
	left: 210px;
	top: 30px;
}

#navbar_div h2.title{
	margin-top: 160px !important;
}

.navbar_normal_buttons, #at-nav-button {
	margin-top: 160px !important;
	height:  0px;
}

/*
	do not apply the pullup to the control panel button on the staff_list;
	we only need to pull up in the staff detail views, where there are two buttons
*/
.double_buttons > #control_panel_button{
	position: relative;
	top: -60px;
	left: 63px;
}